<!doctype html>
<html ng-app="CountDownApp">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.css" />
    <script type="text/javascript" src="/manager/webserver/assets/js/angular.js"></script>
    <script type="text/javascript" src="smart-table.min.js"></script>
    <script type="text/javascript" src="variableController.js"></script>
    <script type="text/javascript" src="/homey.js" data-origin="settings"></script>

</head>

<body ng-controller="VariableSettingsController as vm">
    <h2 data-i18n="settings.title"></h2>
    <p data-i18n="settings.removeWarning"></p>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading" data-i18n="settings.addTimer"></div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="variableName" data-i18n="settings.timerName">CountDown timer name</label>
                        <input class="form-control" id="variableName" type="text" ng-model="vm.newVariable.name" data-i18n-placeholder="settings.name"><span class="error">{{vm.errorMessage}}</span>
                    </div>
                    <div class="form-group">
                        <button data-i18n="settings.addTimer" class="btn btn-default" type="button" ng-disabled="!vm.newVariable.name" ng-click="vm.addVariable()"></button>
                        <button data-i18n="settings.export" class="btn btn-default" type="button" ng-click="vm.showExport()"></button>
                        <button data-i18n="settings.import" class="btn btn-default" type="button" ng-click="vm.showImport()"></button>
                        <button data-i18n="settings.deleteAll" class="btn btn-default" type="button" ng-click="vm.deleteAll()"></button>
                    </div>
                </form>
            </div>
        </div>
        <div ng-show="vm.showExportToggle">
           <p data-i18n="exportedValues"></p>
           <p>
               <textarea rows="6" cols="60">{{vm.variables | json}}</textarea>
           </p>
       </div>
       <div ng-show="vm.showImportToggle">
           <p data-i18n="importedValues"></p>
           <p>
               <textarea rows="6" cols="60" ng-Model="vm.importJson"></textarea>
               <div class="form-group">
                   <button class="btn btn-default" type="button" ng-click="vm.import()" data-i18n="settings.import"></button>
               </div>
           </p>
       </div>
        <table st-safe-src="vm.variables" st-table="displayedCollection" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name" data-i18n="settings.name"></th>
                    <th st-sort="lastChanged" st-sort-default="reverse" data-i18n="settings.lastAction"></th>
                    <th st-sort="value" data-i18n="settings.remain"></th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <input st-search="name" data-i18n-placeholder="settings.searchName" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <!--<th></th>-->
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row="row" ng-repeat="variable in displayedCollection" ng-include="vm.getTemplate(variable)"></tr>
            </tbody>
        </table>
    </div>

<script type="text/ng-template" id="display">
        <td>{{variable.name}}</td>
        <!--<td>{{variable.type}}</td>-->
        <td>{{variable.lastChanged | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <!--<td><input type='checkbox' disabled ng-model='variable.hasInsights' /></td>-->

        <td>{{variable.value}}</td>
        <td>
            <button ng-click="vm.editVariable(variable)" data-i18n="settings.edit"></button>
            <button ng-click="vm.removeVariable(variable)" data-i18n="settings.delete"></button>
        </td>
    </script>

<script type="text/ng-template" id="edit">
        <td>{{vm.selected.name}}</td>
        <td>{{variable.lastChanged | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <!--<td><input class="col-xs-2" id="variableValue" type="checkbox" ng-model="vm.selected.hasInsights" data-i18n-placeholder="settings.value"></td>-->
        <td>
            <div ng-switch on="vm.selected.type">
                <div ng-switch-when="boolean"><div ng-include="'editboolean.html'"></div></div>
                <div ng-switch-when="number"><div ng-include="'editnumber.html'"></div></div>
                <div ng-switch-default><div ng-include="'editstring.html'"><</div></div>
            </div>
        </td>
        <td>
            <button ng-click="vm.saveVariable(variable)" data-i18n="settings.save"></button>
            <button ng-click="vm.reset()" data-i18n="settings.cancel"></button>
        </td>
    </script>

    <script type="text/ng-template" id="addnumber.html">
        <input class="form-control" id="variableValue" type="number" ng-disabled="!vm.newVariable.name||!vm.newVariable.type" ng-model="vm.newVariable.value" data-i18n-placeholder="settings.value">
    </script>
    <script type="text/ng-template" id="addstring.html">
        <input class="form-control" id="variableValue" type="text" ng-disabled="!vm.newVariable.name||!vm.newVariable.type" ng-model="vm.newVariable.value" data-i18n-placeholder="settings.value">
    </script>
    <script type="text/ng-template" id="addboolean.html">
        <input id="variableValue" type="checkbox" ng-disabled="!vm.newVariable.name||!vm.newVariable.type" ng-model="vm.newVariable.value" data-i18n-placeholder="settings.value">
    </script>
    <script type="text/ng-template" id="editnumber.html">
        <input class="form-control col-xs-2" id="variableValue" type="number" ng-model="vm.selected.value" data-i18n-placeholder="settings.value">
    </script>
    <script type="text/ng-template" id="editstring.html">
        <input class="form-control col-xs-2" id="variableValue" type="text" ng-model="vm.selected.value" data-i18n-placeholder="settings.value">
    </script>
    <script type="text/ng-template" id="editboolean.html">
        <input class="col-xs-2" id="variableValue" type="checkbox" ng-model="vm.selected.value" data-i18n-placeholder="settings.value">
    </script>
<script>
    // Initialize Homey
    function onHomeyReady(Homey) {
        Homey.ready();
        var scope = angular.element(document.getElementById('variableName')).scope();
        scope.$apply(function() {
            scope.vm.init(Homey, scope);
        });
    }

</script>
</body>
</html>
